main {
    flex: 1;
    padding:0;
}

/*main {
    padding-top: env(safe-area-inset-top);
}*/

@media (max-width: 640px) {
    main {
        margin: 3rem 0 var(--app-bottom-height) 0;
    }
}

@media (min-width: 641px) {
    main {
        margin: 0 0 0 var(--app-sidebar-width);
    }
}
